@import url('https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Julius+Sans+One');

body,html{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh;
  background: grey;
}

ul,li{
  list-style: none;
  margin: 0px;
}

nav{
  position: relative;
  display: inline-block;
  height: 10vh;
  width: 100%;
  background-color: white;
}


.banner>img{
  position: absolute;
  width: 10vw;
  height: 7vh;
  top:2vh;
  left: 50vw;
  transform: translateX(-50%);
}

.Category{
  line-height: 10vh;
  margin-right: 20px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: bottom;
  bottom: 0;
}

.Category>a{
  color: grey;
}

.Category>a:hover{
  color: black;
  transition-duration: 0.3s;
  text-decoration: none;
}

.SubCategories{
  display:none;
  position: absolute;
  width: 100%;
  height: 80vh;
  left:0;
  background-color: #BFC9CA  ;
  opacity: 0.9;
}

.SubCategories>div{
  display: table-cell;
  text-align: left;
  color: black;
}

.SubCategories>div>li:first-child{
  font-weight: 450;
}

.SubCategories>div>li>a{
  color: #566573;
  display: block;
}

.SubCategories>div>li>a:hover{
  color: black;
  text-decoration: none;
  display: block;
}


.Category:hover .SubCategories{
  display: table;
  transition-delay: 2s;
}

#topImageSlider{
  position: relative;
  height: 70vh;
  width: 100%;
  background: grey;
  padding: 0px;
  margin: 10vh 0px 0px 0px;
  overflow: hidden;
  border-bottom: solid black 1px;
}

figure{
  position: relative;
  width: 500%;
  height: 70vh;
  -webkit-animation: 20s slideAnimation infinite;
}

#imageContainer{
  float: left;
  height: 100%;
  width: 20%;
}

#imageContainer img{
  position: relative;
  width: 100%;
  height: 100%;
}

#seasons{
  background-color: grey;
  display: grid;
  padding: 0;
}

.grid-container-3 {
  display: grid;
  height: 20vh;
  grid-template-columns: auto auto auto;
  background-color: silver;
  padding: 10px;
}

.grid-container-2 {
  display: grid;
  height: 20vh;
  grid-template-columns: auto auto;
  background-color: silver;
  padding: 10px;
}

.grid-item {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#instaContainer{
  padding: 20px;
  background: white;
}

#instaPicContainer{
  display:grid;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
}

#instafeed{
  width: 100%;
  background: white;
  padding: 0;
  margin: 0;
}

#instafeed img{
  border: 2px solid black;
  margin-bottom: 10px;
  width: 14vw;
  height: 200px;
}

footer{
  position: relative;
  height:15vh;
  background: black;
  overflow: hidden;
}

footer .icons{
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: grey;
}

.icons i{
  font-size: 1.8em;
  padding: 0px 10px;
}

.icons a{
  color: grey;
}

footer i:hover{
  color: white;
}

footer .footerText{
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 0.8em;
  transform: translateY(-50%);
  color: grey;
}

@-webkit-keyframes slideAnimation {
  0%{
      left: 0%;
  }
  18%{
      left: 0%;
  }
  20%{
    left: -100%;
  }
  38%{
      left: -100%;
  }
  40%{
      left: -200%;
  }
  58%{
    left: -200%;
  }
  60%{
      left: -300%;
  }
  78%{
      left: -300%;
  }
  80%{
    left: -400%;
  }
  100%{
    left: -400%;
  }
}
